.navbar {
    background-color: white;
}
ul li a {
    cursor: pointer;
}
._513x {
    background-image: url(/assets/profile_sample.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -59px -60px;
    bottom: -1px;
    display: none;
    height: 9px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 17px;
    
}