<div class="row">  
  <div class="col-md-6">
    News Feed
    <!-- <div class="feeds">
      <div style="float:right;"><span class=" btn fa fa-ellipsis-h"></span></div>
      <div>
        <div class="name-area">
          <a class="_5pb8 _1yz2 _8o _8s lfloat _ohe" 
            aria-hidden="true" tabindex="-1" target="" 
            data-ft="{&quot;tn&quot;:&quot;m&quot;}" 
            href="https://www.facebook.com/ramya.nani.543?fref=nf" 
            data-hovercard="/ajax/hovercard/user.php?id=100013564921906" 
            data-hovercard-prefer-more-content-show="1">
            <img class="_s0 _4ooo _5xib _5sq7 _44ma _rw img" 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL9ugN59_Fp9zPH3gzgT7Guvc6pvVPBLcIwu-gbz3mKefXma-d" 
            alt="" aria-label="Ramya Nani" height="50px;" width="50px;" role="img">
        </a> 
        <div>
            <span class="name">
                <span>
                  <span>
                    <a class="profile-link" href="">Kranthi Godari</a>
                  </span>
                  updated her profile picture
                </span>
              </span>
        </div>
      
            <span>
              <span>
                <a class="hours" href="">7hrs </a>
              </span>
              <span role="presentation">.</span>
            </span>
              <span>
                  <i class="fa fa-globe" aria-hidden="true"></i>
              </span>
           
        
        </div>
      </div>
    </div> -->
  </div>

  <div class="col-md-2">
    ADvertizements
  </div>
</div>