<div class="row">
  <div class="col-xs-12">
    <h4 style="margin-left: 16px;">Enter Your Crediantals to Continue</h4><br>
      <form [formGroup] = "deactivateForm" (ngSubmit)="onDeactivate()" >
        <div class="form-group col-md-12">
          <input type="email" class="form-control"
          formControlName = "email" placeholder="Email" id="email" name="email" >
        </div>
        <div class="form-group col-md-12">
            <input type="password" class="form-control"
            formControlName = "password" placeholder="password" id="password" name="password" >
        </div>
        
        <div class="form-group col-md-3">
            <button class="btn btn-primary" type="submit" [disabled]="!deactivateForm.valid" > Confirm </button>
            <h4 class="err-message" >{{deactivateMsg}}</h4>
        </div>
      </form>
  </div>
</div>